{% extends 'base.html' %}
{% block container %}
    <h3>Kлючевые метрики:</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><b>Факт:</b></th>
            <th>Май</th>
            <th>Июнь</th>
            <th>Июль</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>доход</b> <i>успешно реализованы</i></td>
           <td>{% if doh_usp_5 %} {{ doh_usp_5|round(2) }} {% else %} 0 {% endif %}</td>
            <td>{% if doh_usp_6 %} {{ doh_usp_6|round(2) }} {% else %} 0 {% endif %}</td>
            <td>{% if doh_usp_7 %} {{ doh_usp_7|round(2) }} {% else %} 0 {% endif %}</td>
        </tr>
        <tr>

            <td><b>ср. чек</b> <i>успешно реализованы</i></td>
            <td>{{ av_cheque_5|round(2) }}</td>
            <td>{{ av_cheque_6|round(2) }}</td>
            <td>{{ av_cheque_7|round(2) }}</td>
        </tr>
        <tr>
            <td><b>заявки</b> <i>успешно реализованы</i></td>
            <td>{{ leads_count_5 }}</td>
            <td>{{ leads_count_6 }}</td>
            <td>{{ leads_count_7 }}</td>
        </tr>
        <tr>
            <td><b>лиды</b> <i>успешно реализованы</i></td>
            <td>{{ users_count_5 }}</td>
            <td>{{ users_count_6 }}</td>
            <td>{{ users_count_7 }}</td>
        </tr>
        <tr>
            <td><b>заявки</b> <i>подтверждены</i></td>
            <td>{{ leads_confirm_count_5 }}</td>
            <td>{{ leads_confirm_count_6 }}</td>
            <td>{{ leads_confirm_count_7 }}</td>
        </tr>
        <tr>
            <td><b>лиды</b> <i>подтверждены</i></td>
            <td>{{ users_confirm_count_5 }}</td>
            <td>{{ users_confirm_count_6 }}</td>
            <td>{{ users_confirm_count_7 }}</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-default" href="/" role="button">Update</a>
{% endblock %}